<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      <!-- xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
           스프링 시큐리티를 사용하기 위한 네임스페이스 추가-->

<header class="bg-info">
    <div th:fragment="header">
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <a class="navbar-brand" href="/">Shop</a>

            <div class="navbar-collapse justify-content-between" id="navbarTogglerDemo03">
                <ul class="navbar-nav">
                    <!-- sec:authorize="hasAnyAuthority('ROLE_ADMIN')"
                         관리자계정(ADMIN ROLE)으로 로그인한 경우 보이도록 설정-->
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a class="nav-link" href="/admin/item/register">상품 등록</a>
                    </li>
                    <!-- sec:authorize="hasAnyAuthority('ROLE_ADMIN')"
                         관리자계정(ADMIN ROLE)으로 로그인한 경우 보이도록 설정-->
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a class="nav-link" href="/admin/items">상품 관리</a>
                    </li>
                    <!-- sec:authorize="isAuthenticated()"
                         로그인(인증) 했을 경우 보이도록 설정-->
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/cart">장바구니</a>
                    </li>
                    <!-- sec:authorize="isAuthenticated()"
                         로그인(인증) 했을 경우 보이도록 설정-->
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/orders">구매이력</a>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <!-- sec:authorize="isAnonymous()"
                         로그인하지 않은 상태이면 로그인 메뉴를 보여주도록 설정-->
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/members/login">로그인</a>
                    </li>
                    <!-- sec:authorize="isAuthenticated()"
                         로그인한 상태이면 로그아웃 메뉴를 보여주도록 설정-->
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/members/logout">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
                            <input name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </li>
                </ul>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</header>
