<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>thymeleaf example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h2>상품 데이터 출력 Example(조건문 연습)</h2>

    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">상품코드</th>
        <th scope="col">상품명</th>
        <th scope="col">상품설명</th>
        <th scope="col">가격</th>
        <th scope="col">상품등록일</th>
      </tr>
      </thead>
      <tbody>
      <!-- ${status.even} 의 값이 true 일 경우 짝수 , false 일 경우 홀수 -->
      <tr th:each="item, status: ${items}">
        <td th:switch="${status.even}">
            <span th:case="true">짝수</span>
            <span th:case="false">홀수</span>
        </td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.createTime}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNS3vx"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>

</body>
</html>